@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(1, 1, 40);
    color: white;
     font-family: "Poppins", sans-serif;
}
.main{
    position: relative;
    background-color: rgb(1, 1, 40);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4.5vw;
    background-color:  rgb(9, 9, 65);
}
.nav-left{
    font-size: 2vw;
}
.nav-right ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-right ul a{
    text-decoration: none;
    color: white;
    
}
.nav-right ul a i{
    font-size: 1.4vw;
    transition: all ease 0.4s;
    padding-left: 39px;
}
.nav-right ul a i:hover{
    font-size: 1.5vw;
    color: blue;
}
.nav-right ul li{
    margin: 2vw;
    font-size: 1.2vw;
    transition: all ease 0.3s;
}
.nav-right ul li:hover{
    color: rgb(43, 43, 168);
}
.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   min-height: 60vh;
    margin: 5vw 0;
   
}
.left-sec{
    width: 50%;
    
    text-align: center;
    font-size: 3vw;
  
}
.purple{
    color: rgb(16, 16, 153);
}
#element{
    color: rgb(16, 16, 153);
}
.right-sec{
    width: 50%;
    text-align: center;
}
.right-sec img{
    width: 60%;
}
.section-2{
    min-height: 40vw;
    width: 100%;
    top: 3;
    background-color: rgb(1, 1, 40);
  }

.top h1{
   text-align: center;
   font-size: 3.5vw;
   font-weight: 400;
   margin-top: 3vw;
}
.bottom{
    margin-top: 5vw;
    display: flex;
    gap: 7vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.box{
    display: block;
  width: 25%;
  border: 2px solid white;
  text-align: center;
  padding: 2vw 1vw;
  border-radius: 9%;
  position: relative;
  cursor: pointer;
  filter: blur(5px);
  transition: all ease 0.9s;
  height: 15vw;

}
.box::before{
    content: '';
    position: absolute;
    top: -8px;
    bottom: 0px;
    left: 0px;
    right: -9px;
    z-index: -1;
    border-radius: 9%;
    filter: blur(12px);
}
.box::after{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: white;
    z-index: -2;
    filter: blur(40px);
    
}
.box::before,
.box::after{
    background: linear-gradient(#3c3997,#27272b,#1e5586);
    
}
.box h1{
    font-weight: 700;
    margin-bottom: 1.5vw;
    font-size: 2vw;
    color: rgb(16, 16, 153);
}
.box p{
    font-weight: 300;
    font-size: 1vw;
    
}
.para{
    text-align: center;
    text-transform: none;
    color: red;
    font-size: 1.3vw;
    margin-top: 2vw;
}
.para a:hover{
    color: white;
}
.section-3{
    background-color: rgb(1, 1, 40);
    min-height: 65vw;
    width: 100%;
}
.section-3 h1{
    text-align: center;
    font-size: 3.5vw;
    font-weight: 400;
    margin-top: 6vw;
}

.project-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid white;
    padding: 2vw 5vw;
    position: relative;
    transition: ease 0.4s;
    align-items: center;
    overflow: hidden;
    margin: 2vw 0vw;
}
.project-box span
{
    color: blue;
}
.project-box a{
    text-decoration: none;
    color: white;
    z-index: 1;
    font-size: 3vw;
}
.project-box a:hover{
    text-decoration: underline;

}
.project-box p{
    font-size: 1.3vw;
    width: 35%;
}
   

.project-box::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(39, 84, 218);
    right: -100%;
    border-radius: 20%;
   top: 0;
    transition: ease 1s;
    
}
.project-box::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(62, 0, 219);
    left: -100%;
    border-radius: 20%;
   top: 0;
    transition: ease 1s;
}
.project-box:hover::after{
    border-radius: 0%;
    background: rgb(86, 143, 240);
     left: 0%;
    
 }
.project-box:hover::before{
   border-radius: 0%;
    background: rgb(22, 35, 83);
    right: 0%;
   
}
.section-4{
    min-height: 5vw ;
    width: 100%;
    position: absolute;
}
footer{
    position: fixed;
    bottom: 0%;
    background-color:  rgb(9, 9, 65);
    height: 5vw;
    width: 100%;
    z-index: -2;
   
    padding: 0vw 3vw;
    
    
}
.personal-details{
font-size: 1vw;
 line-height: 2vw;
 display: flex;
 justify-content: center;

  
}
.personal-details h2{
    padding: 1vw;
    font-family: "Poppins", sans-serif;
    z-index: 2;
   
}
.links{
    font-size: 3vw;
}
.fixed-menu{
    position: fixed;
    top: 0%;
    background-color: black;
    right: -100%;
    background-color: orange;
    height: 100%;
    width: 50%;
    text-align: center;
    background-color:  rgb(9, 9, 65);
    transition: all ease 0.4s;
}
.fixed-menu a{
    text-decoration: none;
    color: white;
}
.fixed-menu a i{
    padding: 8px;
    
}
.fixed-menu a li{
    font-size: 7vw;
    list-style: none;
    margin: 5vw 3vw;
}
.fixed-menu a:hover{
    color: blue;
}
.menu{
    display: none;
}
@media (max-width:600px) {
    nav{
        height: 20vw;
        background-color:  rgb(9, 9, 65);
    }
    .nav-right{
        display: none;
    }
    .nav-left {
        font-size: 8vw;
      }
      .menu {
        display: block;
        padding: 1vw 3vw;
        border: 1px solid #ffffff5c;
        font-size: 5vw;
        /* border-radius: 20px; */
    }
    .section1{
        display: block;
        padding: 7vw 10vw;
    }
    .left-sec {
        font-size: 9vw;
        text-align: center;
        width: 100%;
        padding-top: 4vw;
        font-weight: 400;
        line-height: 13vw;
        
      }
      .right-sec img {
        width: 70%;
        margin-top: 6vw;
      }
      .right-sec {
        width: 100%;
        padding-top: 3vw;
      }
      .section-2{
        padding-top: 7vw;
      }
      .box {
        display: block;
        width: 70%;
        border: 2px solid white;
        text-align: center;
        padding: 2vw 1vw;
        border-radius: 9%;
        position: relative;
        cursor: pointer;
        filter: blur(0px);
        transition: all ease 0.9s;
        height: 40vw;
        margin-top: 3vw;
      }
      .box h1 {
        font-weight: 700;
        margin-bottom: 1.5vw;
        font-size: 6vw;
      }
      .box p {
        font-weight: 300;
        font-size: 3vw;
      }
      .top h1 {
        text-align: center;
        font-size: 7.5vw;
        font-weight: 700;
        margin-top: 3vw;
      }
      .para {
        font-size: 4.3vw;
        margin-top: 4vw;
      }
      .section-3 h1 {
        text-align: center;
        font-size: 7.5vw;
        font-weight: 500;
        padding: 9vw;
      }
      .project-box{
        margin: 7vw 0vw;
      }
      .project-box a {
        font-size: 6vw;
        /* font-weight: 400; */
       
      }
      .project-box p {
        font-size: 3vw;
        padding-left: 13vw;
        width: 52%;
      }
      footer{
        height: 30vw;
      }
      .section-4{
        height: 30vw;
      }
      .personal-details {
        display: block;
        font-size: 2vw;
        line-height: 2vw;
        padding-top: 3vw;
      }

}